  <h1>Create your list</h1>

  <%= simple_form_for(@lists) do |f| %>
    <%= f.input :name, placeholder: 'Add a list name' %>
    <%= f.input :imageUrl, placeholder: 'Add an image URL' %>
    <%= f.submit "Create", class: "btn btn-primary" %>
  <% end %>
